@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1316px;
  margin: 0px auto;
}

.after-bg-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #00264dbf,
    #00264dbf,
    #00264dbf
  );
  z-index: -1; /* Ensure it appears behind other content */
}

.tabselected {
  border-bottom: 4px solid #EB7150;
  color: #EB7150;
}

.tabActive {
  opacity: 1 !important;
  transition: all 0.2s;
  visibility: visible !important;
}

.menuActive {
  max-height: 108px !important;
  overflow: visible !important;
  background-color: white;
  opacity: 1 !important;
}

.img-link {
  border: none !important;
}

.no-scroll{
  overflow: hidden;
} 
.active {
  color: #EB7150;
  border-bottom: 2px solid #EB7150;
}

.active::after {
  display: none;
}